.amount span {
    font-size: 32px;
    font-weight: bold;
}

.pastBills,
.downl {
    font-size: 20px;
    text-decoration: underline;
    margin-top: 50px;
}

.panel-heading {
    text-align: center;
    font-size: 30px;
}

.current {
    font-size: 20px;
}

.current span {
    font-size: 30px;
    font-weight: bold;
}

html,
body {
    background-color: white;   
    font-weight: 700;
    height: 100vh;
    margin: 0;
}

.nav>li>a:focus,
.nav>li>a:hover {
    text-decoration: none;
    background-color: #7070706b;
}



/* welcomeBlade */

.hero-section{
    background-color: #0072CE;
    background-image: url("../images/online-payments.png");
    color: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    height: 100vh;
    background-size: contain;
    background-position: start;
    background-repeat: no-repeat;
    margin: 0;
}

.full-height {
    height: 100vh;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
    margin: auto;
}

.content {
    text-align: center;
}

.title {
    font-size: 7rem;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    
    /* -webkit-text-stroke: 1px blue; */
    /* -webkit-text-fill-color: white; */
    text-shadow: 0px 1px 4px #23430C;
}

.links > a {
    color: black;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

.title,.sub{
    color:white;
    text-shadow: -1px 1px 2px #000,
      1px 1px 2px #000,
      1px -1px 0 #000,
      -1px -1px 0 #000;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    align-items: center;
    
}


.hours{
    color: #FFB20C;
}


body>#app>.container{
 flex-shrink: 1;
 flex-grow: 1;
display: flex;
align-items: center;
justify-content: center;
background-color: transparent;
}

.card{
border-radius:20px;
padding: 1rem;
}

.btn{
border-radius:20px;
background-color:#FFB20C;
color: white;
}
.btn:hover{
    color: white;
    filter:brightness(80%)
}


.image{
    position: absolute;
    bottom: 1px;
    left: 1px;
    max-width: 900px;
}



.list{
padding-top: 10rem;
padding-bottom: 10rem;
}





    /* media query */
    @media screen and (max-width: 480px){
    .top-right{
    padding-left: 10rem;
    padding-right:0;
    }

    .links > a {
    color: black;
    padding: 0 5px;
    }
    .title{
        font-size: 3.5rem;
        margin-top:18rem;
        padding-top: 10rem;
    }
    
    .column.iconify{
        flex-direction: row;
    align-content:center;
    }

    .container-fluid{
        padding: 0px;
    }

    .hero-section{
        background-image: none;
    }
}





@media screen and (min-width: 481px) and (max-width:575px){
.top-right{
    padding-left: 10rem;
    padding-right:0;
    }

    .links > a {
    color: black;
    padding: 0 5px;
    }
    .title{
        font-size: 3.5rem;
        margin-top:18rem;
        padding-top: 10rem;
    }
    
    .column.iconify{
        flex-direction: row;
    align-content:center;
    }

    .hero-section{
        background-image: none;
    }
}

@media screen and (min-width: 576px) and (max-width:767px){
.top-right{
    padding-left: 10rem;
    padding-right:0;
    }

    .links > a {
    color: black;
    padding: 0 5px;
    }
    .title{
        font-size: 3.5rem;
        margin-top:10rem;
        padding-top: 10rem;
    }
    
    .column.iconify{
        flex-direction: row;
    align-content:center;
    }

    .hero-section{
        background-image: none;
    }
}           
@media screen and (min-width: 768px) and (max-width:991px){
.title{
        font-size: 3.5rem;
        margin-left: 1rem;
    }

    .links > a {
    color: black;
    padding: 0 10px;
    }

    .hero-section{
    background-size: cover;
    }
}